/* on adding of o: give border : 
    border: 1px solid rgb(217 199 126); */

/* on adding x:
        border: 1px solid rgb(48, 196, 190); */
:root {
    --font-family-game: "Bitcount Grid Double", system-ui;
    --font-family-glassy: "Black Ops One", system-ui;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: black;
    color: white;


}


div.wrapper {
    /* width:800px;
    height:800px;
    */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px;
    /* background-color: yellow;  */

    width: fit-content;
    /* margin:0 auto;
     margin-top: calc(100vh - 74vh); */
    box-sizing: border-box;
}

div.box {
    width: 150px;
    height: 150px;
    background-color: rgb(26 65 82);
    border-radius: 54px;
    box-shadow: 13px 10px 8px rgb(1 12 16);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;



}


p.circle {
    border: 17px rgb(255, 204, 0) solid;
    box-shadow: 0px 0px 20px 0px rgb(217 199 126);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: transparent;



}

article.body-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.cardbox-container {
    /* background-color: blue; */
    width: fit-content;
    height: fit-content;
    padding: 40px;
    margin: 0 auto;
    /* margin-top: calc(100vh - 74vh); */
    box-sizing: border-box;
    background-color: rgb(25 42 51);
    border-radius: 77px;
    box-shadow: 0px 3px 17px 7px rgb(59 92 110);
}

span.cross1 {
    width: 88px;
    height: 18px;
    border-radius: 24px;
    background-color: rgb(48, 196, 190);
    display: block;
    transform: rotate(318deg);
    box-shadow: 0px 1px 20px 3px rgb(50 112 109);
}

span.cross2 {


    width: 88px;
    height: 18px;
    display: block;
    border-radius: 24px;
    background-color: rgb(48, 196, 190);
    transform: rotate(45deg) translate(-14px, -13px);
    box-shadow: 0px 1px 20px 0px rgb(50 112 109);

}

.hide {
    display: none;
}

.hide1,
.hide2,
.hide3,
.hide4,
.hide5,
.hide6,
.hide7,
.hide8,
.hide9 {
    display: none;
}

.chide1,
.chide2,
.chide3,
.chide4,
.chide5,
.chide6,
.chide7,
.chide8,
.chide9 {
    display: none;
}

section.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section.top section.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 23px 0px 92px;
}

section.top section.logo span.cross1,
section.top section.logo span.cross2,
section.top section.turn span.cross1,
section.top section.turn span.cross2 {
    width: 56px;
    height: 12px;
}

section.top section.logo span.cross2,
section.top section.turn span.cross2 {

    transform: rotate(45deg) translate(-10px, -8px);
}

section.top section.logo p.circle,
section.top section.turn p.circle {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    border: 10px rgb(255, 204, 0) solid;

}

section.top h4.cross-turn {
    color: rgb(48, 196, 190);
    font-size: 2.6rem;
    text-shadow: 0px 1px 20px rgb(149 194 192);
    font-family: var(--font-family-game);
    font-weight: 400;
}

section.top h4.circle-turn {
    color: rgb(255, 204, 0);
    font-size: 2.6rem;
    text-shadow: 0px 1px 20px rgb(239 234 212);
    font-family: var(--font-family-game);
    font-weight: 400;

}

section.turn {


    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 23px 0px 92px;



}

.top .refresh {

    background-color: transparent;
    border-radius: 14px;
    margin: 23px 0px 92px;

}

.material-symbols-outlined {
    color: rgb(34, 84, 106);
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 0px 7px 0px black;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

}

.report-card section.one {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.report-card section.two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

@keyframes color-change {
    0% {
        color: rgb(48, 196, 190);
    }

    50% {
        color: rgb(236, 210, 108);
    }

    100% {
        color: rgb(48, 196, 190);
    }
}

.report-card-won-text {
    /* color: rgb(48, 196, 190); */
    font-size: 2.6rem;
    text-shadow: 0px 1px 20px rgb(0, 0, 0);
    font-family: var(--font-family-game);
    font-size: 7.6rem;

    animation: color-change 1s linear infinite;


}
.report-card-match-draw-text{
    font-size :  7rem;
}

button {
    background-color: transparent;
    border-radius: 15px;
    border: 2px outset rgb(84 84 84);
    -webkit-tap-highlight-color: transparent;
}

.report-card-cross {
    animation: color-change 1s linear infinite;
}

@media screen and (max-width : 600px) {
    section.cardbox-container{
        padding: 33px 24px;
    }
    .report-card-match-draw-text{
            font-size: 6rem;
    }

    div.wrapper {
        gap: 30px;
    }

    div.wrapper div.box {
        width: 80px;
        height: 80px;
        border-radius: 22px;
    }

    div.box .cross .cross1 {
        width: 62px;
        height: 12px;
    }

    div.box .cross .cross2 {
        width: 62px;
        height: 12px;
        transform: rotate(45deg) translate(-8px, -9px);
    }

    div.box .circle {

        border: 10px rgb(255, 204, 0) solid;
    }

    section.top section.logo span.cross2,
    section.top section.turn span.cross2 {
        transform: rotate(45deg) translate(-4px, -5px);
    }

    section.top section.logo span.cross1,
    section.top section.logo span.cross2,
    section.top section.turn span.cross1,
    section.top section.turn span.cross2 {
        width: 40px;
        height: 7px;


    }
    section.top section.logo p.circle, section.top section.turn p.circle{
        width: 20px;
    height: 20px;
    margin-bottom: 5px;
        border: 6px rgb(255, 204, 0) solid;
    }
    section.turn {
        flex-direction: column;
            gap: 13px;
        margin:0px;
    }
    .material-symbols-outlined {
            font-size: 3rem;
    }
    .report-card section.two {
        flex-direction: column;
    }
    

}

@media screen  and (max-width : 344px){
    section.cardbox-container{
        padding: 56px 11px;
    }
        div.wrapper{
                    gap: 15px;
        }
        .report-card-match-draw-text{
            font-size:4.6rem
        }
}
